.A{
    display: inline-block;
    width: 33%;
    text-align: center;
    color: plum;
}
.B{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.D{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.C{
    color: #ff0;
    display: inline-block;
    width: 13%;
    text-align: center;
    border: 2px solid white;
}
.E{
    height: 300px;
    display: inline-block;
    width: 50%;
    text-align: center;
}
@media screen and (max-width:800px) {
    .A {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .B{
        width:100%;
    }
}
.welcome{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(243, 19, 232);
}

a:hover{
    color: rgb(201, 8, 169);
}