.A{
    display: inline-block;
    width: 33%;
    text-align: center;
    color: plum;
}
@media screen and (max-width:800px) {
    .A {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
.welcome{
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(243, 19, 232);
}

a:hover{
    text-decoration: underline;
    color: rgb(201, 8, 169);
}